<div class="Wishlist">
    Wishlist <br/>
    {{wishlistCount}}

</div>


<hr/>
<div *ngFor="let h of allHotel">
<table>
    <tr>
        <td> <img src="/assets/Images/{{h.imageName}}" alt="Hotel Image" width="120px" height="150px"> </td>
        <td> 
            <h2>{{h.hotelName}} </h2>
            
            <p style="font-weight: bold;">Address-</p>
            {{h.address}}
            <p style="font-weight: bold;">About-</p>
            <p> {{h.about}} </p>
            <hr/>
            
           
            <button value="{{h.hotelId}}" (click)="goForBuy(hotel.value)" #hotel> Book Now </button>
            <button value="{{h.hotelId}}" (click)="addWishlist(hotel.value)" #hotel> Add to Wishlist </button>
                
            
        </td>
        
    </tr>
</table>
</div>
